$primary-color: #eae2d5;
$primary-color-light: #efedea;
$secondary-color: #424f62;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Roboto", sans-serif;
$decor-font: "Nunito", sans-serif;
$header-font: "Roboto Mono", monospace;
