$primary-font: "Nunito", sans-serif;
$secondary-font: "Roboto", sans-serif;

.about-sec-main,
.about-sec-book,
.about-sec-carousel,
.about-sec-book-demo {
  height: 100dvh;
  // margin-inline: 2rem;
}

.about-nav {
  margin-inline: 2rem;
}

.about-sec-main {
  height: calc(100dvh + 5rem) !important;
  main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .carousel-container {
      height: 40%;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 30px;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-top: 30px;

      // Hide the scroll bar
      &::-webkit-scrollbar {
        display: none;
      }
      .carousel-container.active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
      }
      cursor: grab;
      cursor: -webkit-grab;
      scroll-behavior: smooth;

      .scroll-card {
        flex: 0 0 auto;
        height: 100%;
        width: 230px;
        background-color: #d9d9d9;
        border-radius: 2rem;
        display: inline-block; // Ensure cards are inline for horizontal scrolling
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .about-desc-container {
      height: 60%;
      width: 100%;
      // background-color: lightcoral;
      p {
        margin-left: 2rem;
        font-family: $primary-font;
        font-size: 25px;
        font-weight: bold;
        width: 80%;
        padding-top: 50px;
      }
    }
  }
}

.about-sec-book {
  .scroll-logo-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll; // Enables horizontal scrolling
    white-space: nowrap; // Prevents line breaks
    gap: 20px; // Space between items

    // Hide the scroll bar
    &::-webkit-scrollbar {
      display: none;
    }

    .content {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      gap: 20px;
      width: fit-content;

      p {
        font-family: $secondary-font;
        font-size: 80px;
        font-weight: bold;
        white-space: nowrap; // Prevents text wrapping
      }
    }
  }

  .book-text-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .empty-content {
      width: 40%;
    }
    .text-content {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-family: $primary-font;
        font-size: 23px;
        width: 90%;
      }

      .about-link {
        font-family: $secondary-font;
        font-size: 22px;
        text-decoration: underline;
        font-weight: bold;
        color: black;
        margin-top: 100px;
        text-underline-offset: 10px;
      }
    }
  }
}

.about-sec-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .carousel-splitter {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    // Hide the scroll bar
    &::-webkit-scrollbar {
      display: none;
    }

    .carousel-card {
      flex: 0 0 auto;
      height: 95%;
      width: 400px;
      background-color: #d9d9d9;
      border-radius: 1rem;
      overflow: hidden;
      transition: 0.3s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.05);
        margin: 5px;
      }
    }
  }
}

.about-sec-book-demo {
  margin-top: 20px;

  svg {
    position: absolute;
  }
  p {
    font-family: $primary-font;
    font-size: 20px;
    float: right;
    width: 50%;
    margin-top: 200px;
    margin-right: 2rem;
  }

  .discovery-link {
    font-family: $secondary-font;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    margin-top: 100px;
    text-underline-offset: 10px;
    position: relative;
    top: 650px;
    left: 1200px;
  }
}

.about-sec-footer {
  height: fit-content;
}

.about-sec-footer {
  margin-top: 6rem;
  h1 {
    font-family: $secondary-font;
    font-size: 4.375rem;
    margin-left: 1.875rem;
    font-weight: bold;
  }

  .form-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-container-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .form-container-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .form-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .form-input {
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    height: 20px;
    padding: 20px 0px;
    font-family: $primary-font;
    font-size: 15px;
  }

  .form-input::placeholder {
    padding-bottom: 20px;
    color: black;
    font-size: 15px;
    font-family: $primary-font;
  }

  .form-input:focus {
    outline: none;
    border-bottom: 3px solid black;
  }

  .form-button-container {
    input {
      background-color: #d9d9d9;
      font-family: $primary-font;
      border: none;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: 600;
      width: 200px;
      transition: 0.2s ease-in-out;
    }
    input:hover {
      background-color: #424f5f;
      color: white;
      cursor: pointer;
    }
  }
}

.home-footer {
  height: fit-content;
  width: 100%;
  margin-top: 5rem;

  h1 {
    font-family: $secondary-font;
    font-size: 60px;
  }

  p {
    font-family: $secondary-font;
    font-size: 30px;
    margin-left: 2rem;
  }

  .home-footer-links {
    // width: 100%;
    height: 200px;
    margin-left: 2rem;
    display: flex;
    margin-top: 3rem;

    .footer-left {
      width: 75%;

      a {
        text-decoration: none;
        color: black;
        font-family: $secondary-font;
      }
    }

    .footer-right {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: space-between;

      ul {
        p {
          font-size: 20px;
          margin-left: 0px;
          font-weight: 600;
        }
        li {
          list-style: none;
          display: flex;
          flex-direction: column;

          a {
            text-decoration: none;
            color: black;
            font-family: $secondary-font;
            font-size: 15px;
          }
        }
      }
    }
  }

  .home-footer-logo {
    display: flex;
    align-items: flex-end;
    img {
      height: 280px;
      width: 280px;
      object-fit: contain;
    }

    .contact-info-container {
      height: 50px;
      width: 100%;
      margin-bottom: 45px;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      p {
        font-size: 17px;
        font-family: $secondary-font;
      }
    }
  }
}

@media (max-width: 1980px) {
  .home-sec-footer {
    height: 70dvh !important;
  }

  .about-sec-book-demo {
    svg {
      height: 100%;
    }
  }

  .carousel-container {
    .scroll-card {
      flex: 0 0 auto;
      height: 100%;
      width: 270px !important;
      background-color: #d9d9d9;
      border-radius: 2rem;
      display: inline-block; // Ensure cards are inline for horizontal scrolling
    }
  }
}

@media (max-width: 1400px) {
  .about-sec-main {
    height: calc(100dvh + 10rem) !important;
  }

  .about-sec-book-demo {
    .discovery-link {
      left: 1000px;
    }
  }

  .about-sec-footer {
    margin-top: 95px;
  }
}
