.hero-section {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section .logo-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-section .logo-container .hero-logo-h1,
.hero-section .logo-container .hero-logo-h2 {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
.hero-section .logo-container .hero-logo-h1 {
  width: 420px;
  top: 0;
  left: 0;
}
.hero-section .logo-container .hero-logo-h2 {
  width: 360px;
  bottom: 0;
  right: 0;
}
.hero-section .hero-logo-fixed {
  position: none;
}

.about-section {
  height: -moz-fit-content;
  height: fit-content;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-section svg {
  width: 100%;
}
.about-section h1 {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  position: absolute;
  top: 10px;
}
.about-section p {
  position: absolute;
}
.about-section p:nth-child(2) {
  top: 420px;
  left: 50px;
  font-family: "Poppins", sans-serif;
  width: 480px;
  font-size: 18px;
  text-align: left;
  font-weight: 400;
}
.about-section p:nth-child(3) {
  top: 250px;
  right: 100px;
  font-family: "Poppins", sans-serif;
  width: 450px;
  font-size: 18px;
  text-align: left;
}

.ft-works-section,
.pf-works-section {
  height: -moz-fit-content;
  height: fit-content;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ft-works-section h1,
.pf-works-section h1 {
  font-family: "Nunito", sans-serif;
  font-size: 75px;
  width: 100%;
  margin-inline-start: 4.5rem;
}
.ft-works-section .ft-works-carousel-container,
.ft-works-section .pf-works-carousel-container,
.pf-works-section .ft-works-carousel-container,
.pf-works-section .pf-works-carousel-container {
  width: 100%;
  height: 34.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 20px;
}
.ft-works-section .ft-works-carousel-container::-webkit-scrollbar,
.ft-works-section .pf-works-carousel-container::-webkit-scrollbar,
.pf-works-section .ft-works-carousel-container::-webkit-scrollbar,
.pf-works-section .pf-works-carousel-container::-webkit-scrollbar {
  display: none;
}
.ft-works-section .ft-works-carousel-container .scroll-card,
.ft-works-section .pf-works-carousel-container .scroll-card,
.pf-works-section .ft-works-carousel-container .scroll-card,
.pf-works-section .pf-works-carousel-container .scroll-card {
  height: 95%;
  width: 24%;
  flex: 0 0 auto;
  transition: 0.3s ease-in-out;
}
.ft-works-section .ft-works-carousel-container .scroll-card:hover,
.ft-works-section .pf-works-carousel-container .scroll-card:hover,
.pf-works-section .ft-works-carousel-container .scroll-card:hover,
.pf-works-section .pf-works-carousel-container .scroll-card:hover {
  transform: scale(1.05);
  margin-inline: 2rem;
}
.ft-works-section .ft-works-carousel-container .scroll-card .card-img-container,
.ft-works-section .pf-works-carousel-container .scroll-card .card-img-container,
.pf-works-section .ft-works-carousel-container .scroll-card .card-img-container,
.pf-works-section .pf-works-carousel-container .scroll-card .card-img-container {
  height: 80%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.348);
  border-radius: 2rem;
  overflow: hidden;
}
.ft-works-section .ft-works-carousel-container .scroll-card .card-img-container img,
.ft-works-section .ft-works-carousel-container .scroll-card .card-img-container video,
.ft-works-section .pf-works-carousel-container .scroll-card .card-img-container img,
.ft-works-section .pf-works-carousel-container .scroll-card .card-img-container video,
.pf-works-section .ft-works-carousel-container .scroll-card .card-img-container img,
.pf-works-section .ft-works-carousel-container .scroll-card .card-img-container video,
.pf-works-section .pf-works-carousel-container .scroll-card .card-img-container img,
.pf-works-section .pf-works-carousel-container .scroll-card .card-img-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ft-works-section .ft-works-carousel-container .scroll-card .card-info-container,
.ft-works-section .pf-works-carousel-container .scroll-card .card-info-container,
.pf-works-section .ft-works-carousel-container .scroll-card .card-info-container,
.pf-works-section .pf-works-carousel-container .scroll-card .card-info-container {
  margin-top: 10px;
}
.ft-works-section .ft-works-carousel-container .scroll-card .card-info-container h1,
.ft-works-section .pf-works-carousel-container .scroll-card .card-info-container h1,
.pf-works-section .ft-works-carousel-container .scroll-card .card-info-container h1,
.pf-works-section .pf-works-carousel-container .scroll-card .card-info-container h1 {
  font-family: "Poppins", sans-serif;
  margin-left: 2px;
  font-size: 20px;
}
.ft-works-section .ft-works-carousel-container .scroll-card .card-info-container p,
.ft-works-section .pf-works-carousel-container .scroll-card .card-info-container p,
.pf-works-section .ft-works-carousel-container .scroll-card .card-info-container p,
.pf-works-section .pf-works-carousel-container .scroll-card .card-info-container p {
  font-family: "Roboto", sans-serif;
  margin-left: 2px;
}
.ft-works-section .ft-works-carousel-container::-webkit-scrollbar,
.pf-works-section .ft-works-carousel-container::-webkit-scrollbar {
  display: none;
}

.services-section {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-section .service-head {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  width: 100%;
  margin-inline-start: 4.5rem;
}

.services-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-tag-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-tag-container .service-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.swipe-card-container {
  width: 60%;
  height: 100%;
}
.swipe-card-container .swipe-carousel {
  position: relative;
  height: 100%;
  width: 100%;
  perspective: 1000px;
  overflow: hidden;
  touch-action: pan-y;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swipe-card-container .swipe-carousel .card {
  position: absolute;
  width: 400px;
  margin: 0 10%;
  height: 500px;
  background: #d1d1d1;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  transform: scale(0.9) translateY(20px);
  z-index: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.swipe-card-container .swipe-carousel .swipe-card-img-container {
  height: 80%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.348);
  border-radius: 2rem;
  overflow: hidden;
}
.swipe-card-container .swipe-carousel .swipe-card-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swipe-card-container .swipe-carousel .swipe-card-content {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.swipe-card-container .swipe-carousel .swipe-card-content h3 {
  display: none;
}
.swipe-card-container .swipe-carousel .swipe-card-content p {
  font-size: 15px;
}
.swipe-card-container .swipe-carousel .card.active {
  opacity: 1;
  transform: scale(1) translateY(0);
  z-index: 2;
}
.swipe-card-container .swipe-carousel .card.left {
  opacity: 0.6;
  transform: scale(0.9) rotateZ(-3deg) translateX(-30%) translateY(20px);
  z-index: 1;
}
.swipe-card-container .swipe-carousel .card.right {
  opacity: 0.6;
  transform: scale(0.9) rotateZ(3deg) translateX(30%) translateY(20px);
  z-index: 1;
}

.testimonials-section {
  height: -moz-fit-content;
  height: fit-content;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.testimonials-section h1 {
  font-family: "Nunito", sans-serif;
  font-size: 80px;
  width: 100%;
  margin-inline-start: 4.5rem;
}
.testimonials-section svg {
  width: 100%;
}

.testi-card {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  position: absolute;
}
.testi-card .base {
  background: #d9d9d9;
  padding: 1rem;
  border-radius: 12px;
  width: 250px;
  height: 70px;
  overflow: hidden;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.testi-card .base h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}
.testi-card .base .designation {
  font-size: 0.85rem;
  margin: 0;
  color: black;
}
.testi-card .base .quote,
.testi-card .base hr {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.4s ease, max-height 0.4s ease;
  margin-top: 0;
}
.testi-card .base .quote {
  font-size: 0.85rem;
}
.testi-card:hover .base {
  height: 200px;
  width: 340px;
}
.testi-card:hover .base .quote,
.testi-card:hover .base hr {
  opacity: 1;
  max-height: 300px;
  margin-top: 10px;
}
.testi-card:hover .base h3 {
  margin-top: 10px;
}

.pos-1 {
  top: 250px;
  left: 200px;
}

.pos-2 {
  top: 500px;
}

.pos-3 {
  bottom: 100px;
  left: 550px;
}

.pos-4 {
  bottom: 100px;
  right: 50px;
}

.testi-card {
  transition: all 0.3s ease;
}
.testi-card .base {
  transition: all 0.4s ease;
}
.testi-card.active .base {
  height: 200px;
  width: 320px;
}
.testi-card.active .base .quote,
.testi-card.active .base hr {
  opacity: 1;
  max-height: 300px;
  margin-top: 10px;
}
.testi-card.active .base h3 {
  margin-top: 10px;
}

.clients-section {
  width: 100dvw;
  height: -moz-fit-content;
  height: fit-content;
}

.clients-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow-x: scroll;
  margin-top: 10px;
}
.clients-container::-webkit-scrollbar {
  display: none;
}
.clients-container .client-scroll-container {
  height: 150px;
  width: 150px;
  flex: 0 0 auto;
}
.clients-container .client-scroll-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
}
.clients-container .client-scroll-container img:hover {
  filter: grayscale(0%);
}/*# sourceMappingURL=home.css.map */