.service-sec-main,
.service-sec-carousel,
.service-sec-brand {
  height: 100dvh;
}

.service-nav {
  margin-inline: 2rem;
}

.service-sec-main {
  height: calc(100dvh + 5rem) !important;
}
.service-sec-main main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-sec-main main .carousel-container {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: 30px;
  cursor: grab;
  cursor: -webkit-grab;
  scroll-behavior: smooth;
}
.service-sec-main main .carousel-container::-webkit-scrollbar {
  display: none;
}
.service-sec-main main .carousel-container .carousel-container.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.service-sec-main main .carousel-container .scroll-card {
  flex: 0 0 auto;
  height: 100%;
  width: 230px;
  background-color: #d9d9d9;
  border-radius: 2rem;
  display: inline-block;
  overflow: hidden;
}
.service-sec-main main .carousel-container .scroll-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-sec-main main .service-desc-container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.service-sec-main main .service-desc-container p {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: bold;
  width: 70%;
  padding-top: 50px;
  margin-left: 2rem;
}
.service-sec-main main .service-desc-container .service-book-url {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  color: black;
  margin-top: 100px;
  text-underline-offset: 10px;
  margin-top: 50px;
  margin-left: 2rem;
}

.service-sec-book {
  height: calc(100dvh + 5rem) !important;
}
.service-sec-book .scroll-logo-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  gap: 20px;
}
.service-sec-book .scroll-logo-text::-webkit-scrollbar {
  display: none;
}
.service-sec-book .scroll-logo-text .content {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.service-sec-book .scroll-logo-text .content p {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: bold;
  white-space: nowrap;
}
.service-sec-book .book-text-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-sec-book .book-text-container .empty-content {
  width: 40%;
}
.service-sec-book .book-text-container .text-content {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-sec-book .book-text-container .text-content p {
  font-family: "Nunito", sans-serif;
  font-size: 23px;
  width: 90%;
}
.service-sec-book .book-text-container .text-content .services-container {
  padding: 60px 10px;
  border-bottom: 1px solid black;
}
.service-sec-book .book-text-container .text-content .services-container .head {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}
.service-sec-book .book-text-container .text-content .service-link {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-decoration: underline;
  font-weight: bold;
  color: black;
  margin-top: 50px;
  text-underline-offset: 10px;
}

.service-sec-brand {
  margin-top: 100px;
  margin-left: 2rem;
}
.service-sec-brand h1 {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
}
.service-sec-brand .brand-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-sec-brand .brand-div p {
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  width: 60%;
  padding-top: 50px;
}
.service-sec-brand .brand-div .brand-placeholder {
  height: 350px;
  width: 300px;
  background-color: #d9d9d9;
  border-radius: 1rem;
  overflow: hidden;
}
.service-sec-brand .brand-div .brand-placeholder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-sec-brand .brand-list-div {
  margin-left: 2rem;
  margin-top: 100px;
}
.service-sec-brand .brand-list-div ul {
  display: inline-block;
}
.service-sec-brand .brand-list-div ul li {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}
.service-sec-brand .brand-list-div ul:nth-child(2) {
  margin-left: 50px;
}
.service-sec-brand .brand-url {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  color: black;
  text-underline-offset: 10px;
  float: right;
  margin-right: 10rem;
  margin-top: 3rem;
}

.service-sec-footer {
  height: -moz-fit-content;
  height: fit-content;
}

.service-sec-footer {
  margin-top: 6rem;
}
.service-sec-footer h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4.375rem;
  margin-left: 1.875rem;
  font-weight: bold;
}
.service-sec-footer .form-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.service-sec-footer .form-container-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.service-sec-footer .form-container-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.service-sec-footer .form-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.service-sec-footer .form-input {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  height: 20px;
  padding: 20px 0px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}
.service-sec-footer .form-input::-moz-placeholder {
  padding-bottom: 20px;
  color: black;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}
.service-sec-footer .form-input::placeholder {
  padding-bottom: 20px;
  color: black;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
}
.service-sec-footer .form-input:focus {
  outline: none;
  border-bottom: 3px solid black;
}
.service-sec-footer .form-button-container input {
  background-color: #d9d9d9;
  font-family: "Nunito", sans-serif;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  width: 200px;
  transition: 0.2s ease-in-out;
}
.service-sec-footer .form-button-container input:hover {
  background-color: #424f5f;
  color: white;
  cursor: pointer;
}

.home-footer {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 5rem;
}
.home-footer h1 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
}
.home-footer p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin-left: 2rem;
}
.home-footer .home-footer-links {
  height: 200px;
  margin-left: 2rem;
  display: flex;
  margin-top: 3rem;
  border-bottom: 1px solid black;
}
.home-footer .home-footer-links .footer-left {
  width: 75%;
}
.home-footer .home-footer-links .footer-left a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
}
.home-footer .home-footer-links .footer-right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.home-footer .home-footer-links .footer-right ul p {
  font-size: 20px;
  margin-left: 0px;
  font-weight: 600;
}
.home-footer .home-footer-links .footer-right ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.home-footer .home-footer-links .footer-right ul li a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
.home-footer .home-footer-logo {
  display: flex;
  align-items: flex-end;
}
.home-footer .home-footer-logo img {
  height: 280px;
  width: 280px;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-footer .home-footer-logo .contact-info-container {
  height: 50px;
  width: 100%;
  margin-bottom: 45px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.home-footer .home-footer-logo .contact-info-container p {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1400px) {
  .service-sec-main {
    height: calc(100dvh + 20rem) !important;
  }
  .service-sec-book-demo .discovery-link {
    left: 1000px;
  }
  .service-sec-footer {
    margin-top: 95px;
  }
}/*# sourceMappingURL=service.css.map */